@charset "iso-8859-1";

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Header styles */
div.header {
	border-top: 2px solid #000066;
	border-bottom: 2px solid #000066;
	margin: 10px 0;
}

nav {
	width: auto;
}

nav ul {
	background-color: #ebb000;
	list-style: none;
}

nav ul li {
	display: inline-block;
	list-style-image: none;
	margin-left: 0;
	margin-right: 20px;
	position: relative;
}

nav ul li a {
	color: #000066;
	padding: 10px 20px;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	margin-right: -25px;
}

nav ul li a.active {
	background-color: #000066;
	color: #ebb000;
	font-weight: bold;
}

nav ul li a:hover {
	background-color: #000066;
	color: #ebb000;
	font-weight: bold;
}

nav ul li a i{
	padding-right:10px; 
}	

/* nav ul li a::before {
	background-color: #000066;
	content: '';
	display: inline-block;
	height: 5px;
	position: absolute;
	bottom: 0;
	width: 0%;

	transition: all ease-in-out 250ms;
}

nav ul li a:hover::before {
	width: 100%;
} */

html { overflow-y: scroll;}

.gm_vid	{ 	width: 560px;
			height: 315px;
			margin: 0 auto;
			float: center;
			display: block; 
		}

.venue	 		{  	background-color: #C7DCFE;
				color: #000000;
				height:20px;
				padding-left: 6;
			}
.cancelledvenue 	{  	background-color: lightgrey;
				color: #000000;
				height:20px;
				text-decoration: none
			}

.cancelled	{	color: red;
			font-size: 80%;
			font-weight: bold;
			text-decoration: underline;
		}
.month, th 		{  	font-weight: bold;
				color: #FFFFFF;
				background-color: #4DB8FF;
				font-size: small;
				text-align: left;
				padding-left: 10px;
				height:30px;
			}
.title 		{	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
				font-size: 220%;
				font-weight: bold;
				color: #000066
			}
.fieldlabel	{	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
				font-weight: bold;
				color: #FFFFFF;
				background-color: #0099FF;
				font-size: 80%;
				text-align: left;
				height:30px
			}
.venuelabel {  	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
				color: #000000;
				background-color: #C7DCFE;
			}
.button 	{  	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
				color: #000000;
				font-weight: bold;
				font-size: 80%;
				height:20px
			}

.size { padding-left: 10px; text-align: left; }
.cost { padding-left: 10px; text-align: left; }
.postage { padding-left: 10px; text-align: left; }

/* Contact Us page styles */
.address 	{ margin: 0em 0em 0em 2em }
.telephone 	{ margin: 0em 0em 0em 2em }
.e-mail 	{ margin: 0em 0em 0em 2em }

body		{ font-family: 'Raleway', cursive;
			  color: #000066;
			  font-weight: normal;
				line-height: 175%;
				margin: 0;
			  font-size: 18px;
			}

h1 { 
	font-weight: bold; 
	font-size: 110%;
}

h2 { 
	font-family: 'Architects Daughter';
	font-weight: bold; 
	font-size: 140%;
	margin-top: 0px;
	text-align: center;
}

h3 {
	font-weight: bold;
	font-size: 110%;
	margin-bottom: 0;
	margin-left: 18px;
	margin-right: 18px;
}

p:first-child {
	margin-top: 0;
}

p {
	margin: 18px;
}

.tingle-modal p {
	margin: 0;
}

ul { margin: 0;
     padding: 0; }

li			{ color: #000066;
			margin-left: 20px; 
			} 

a 			{	color: #333399}

a:hover 	{	
	color: #333399;
	font-weight: bold;
}

img			{ margin: 1em }

img#mainHead		{ 	
	height: auto;
	margin: 0em;
	max-width: 100%;
}

p#mainHead		{
	color: #000066;
	text-align: center;
	font-size: 130%;
	font-weight: normal;
	margin: 0em;
}

div#mainHead 	{text-align: center;}

			
#new	{ color: green; font-weight: bold; font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; }

#BottleSide,#Stand {
	float: left;
	margin: 10px 2em 10px 18px;
	padding: 1px;
	border: 1px grey dashed;
}

#BottleFront {
	float: right;
	margin: 10px;
	padding: 1px;
  	border: 1px grey dashed;
  }

@media only screen and (max-width: 520px) {
	nav ul li a {
		padding: 10px 10px;
	}
}