---
import Layout from '../layouts/Layout.astro';
import Prices from '../components/Prices.astro';
import { Image } from 'astro:assets';
import clocks from '../images/clocks.jpg';
import bottleFrontSmall from '../images/Bottle-Front-Small.jpg';
import getAcrobatReader from '../images/Get-Adobe-Acrobat-Reader-badge.png';
import Heading3 from '../components/Heading3.astro';
import Section from '../components/Section.astro';
import Paragraph from '../components/Paragraph.astro';
import Link from '../components/Link.astro';
import Heading4 from '../components/Heading4.astro';

const description =
  'Explore our unique collection of bottle clocks, handcrafted with precision. Contact us for inquiries or visit our homepage for more details.';
---

<Layout title="Bottle Clocks" description={description}>
  <Heading3>Bottle Clocks</Heading3>
  <Section>
    <Paragraph style="clear: left">
      In 2004 we tried various materials in our kiln, to see what happened, and
      found a useful product in flattened bottles.
    </Paragraph>
    <div class="relative float-left m-3 ml-0">
      <Image class="rounded-md" src={clocks} alt="Nigel with his clocks" />
      <div
        class="absolute bottom-0 left-0 right-0 bg-gray-900 opacity-90 p-1 text-white text-sm rounded-b-md">
        Here's Nigel with some of his clocks at Greenwich
      </div>
    </div>
    <Image
      class="mx-auto md:float-right md:m-3 rounded-md"
      src={bottleFrontSmall}
      alt="Front Bottle"
    />
    <Paragraph>
      It took a few tries to perfect the process, but we decided we had a
      product which could be developed and would sell. Clocks have been a
      feature of our product range since we started, so it seemed logical to
      make clocks from flattened bottles. The easy option is to flatten, drill,
      add the clock movement and numbers and, bingo, you have a clock. Being
      awkward, we wanted the original labels as well, so we spend a lot of time
      carefully removing labels, drying them and sticking them back on when the
      high temperature work is finished. We think the end product is worth it
      and looks great. Here's hoping you like our functional, decorative
      presents.
    </Paragraph>
    <Paragraph>
      Variations on labelled bottle clocks are also produced. We can make clocks
      with no labels and a set of numbers (best on dark bottles), memory bottles
      (no clock), to hang on the wall (especially good for wedding and
      anniversary presents). Chopping boards/cheese boards can also be made and
      these look good when the original bottle has some embossing, such as
      Gordons and Bacardi bottles as this can be kept. There is no label on
      these, of course, unless you want the label on the back.
    </Paragraph>
    <Paragraph>
      All sorts of bottles can be used; beers, wines, spirits, mixers, olive
      oil, Marmite!, champagne and so on. You decide.
    </Paragraph>
    <Paragraph>
      All items can be posted and we can accept your bottle if you want to send
      it to us.
    </Paragraph>
  </Section>
  <Heading3>Easy to order</Heading3>
  <Section>
    <Heading4>If you know the bottle you want, either:</Heading4>
    <ul>
      <li class="ml-5 list-disc">
        Use our
        <Link href="#orderForm" class="contact-link">order form</Link> to email your
        order. We will email back to confirm receipt of order and the price and to
        arrange payment when the bottle is ready, or
      </li>
      <li class="ml-5 mb-4 list-disc">
        Print out our
        <Link href="#orderForm" class="contact-link">order form</Link> and post it
        to us. We'll do the rest and contact you for payment when the bottle is ready
        for dispatch.
      </li>
    </ul>
    <Heading4 class="mt-8">If you have your own bottle:</Heading4>
    <ul>
      <li class="mb-4 ml-5 list-disc">
        Print out our
        <Link href="#orderForm">order form</Link>, send it with your bottle, and
        we'll flatten your bottle and contact you for payment when the bottle is
        ready for dispatch.
      </li>
    </ul>
    <Paragraph>
      If all else fails, <Link href="/contact-us">call or e-mail us</Link>, that
      will be fine.
    </Paragraph>
  </Section>

  <Heading3>Stock items</Heading3>
  <Section>
    <Paragraph>
      We have an ever changing stock of different bottles, from all over the
      world, but some, such as local beers and rarer wines and spirits may not
      always be available. Contact us if you are not sure and particularly if
      time is of the essence. We need two weeks minimum for processing and
      postage for non-stock items.
    </Paragraph>
  </Section>

  <Heading3>Prices</Heading3>
  <Section>
    <Paragraph>
      All products include 48 hour Royal Mail delivery and are boxed and
      complete with a battery if necessary, except for export items.
    </Paragraph>
    <Prices />
  </Section>

  <Heading3>Payment</Heading3>
  <Section>
    <Paragraph>
      Payment can be by bank transfer, which is preferred, or Paypal. Contact us
      at <Link href="mailto:enquiries@glassconstructions.co.uk"
        >enquiries@glassconstructions.co.uk</Link
      > for details.
    </Paragraph>
    <Paragraph>
      We do not take payment until the clock is ready to go to the customer or
      another address.
    </Paragraph>
  </Section>
  <a name="orderForm">
    <Heading3>Order Forms</Heading3>
  </a>
  <Section>
    <Paragraph>The order form is provided in Adobe Acrobat format.</Paragraph>
    <Paragraph>
      <Link href="/docs/Bottle Order Form.pdf" target="_blank"
        >Bottle Clocks Order Form</Link
      >
    </Paragraph>
  </Section>
  <Section>
    <Paragraph>
      A link to download the Adobe Acrobat Reader is provided if you need to get
      the software.
    </Paragraph>
    <Paragraph>
      <Link href="https://get.adobe.com/uk/reader/" target="_blank">
        <Image
          class="AdobeReader"
          src={getAcrobatReader}
          alt="Get Adobe Acrobat Reader"
        />
      </Link>
    </Paragraph>
  </Section>
</Layout>

<!-- <style>
  #Stand {
    float: left;
    margin: 8px;
    margin-left: 0;
    padding: 1px;
    border: 1px grey dashed;
  }

  #BottleFront {
    float: right;
    margin: 10px;
    padding: 1px;
    border: 1px grey dashed;
  }

  #column-left {
    margin-top: 48px;
  }

  #column-right {
    margin-top: 48px;
    padding-left: 0;
  }

  @media (max-width: 600px) {
    img {
      width: 100%;
      height: auto;
    }

    img.AdobeReader {
      width: auto;
      height: auto;
    }

    #Stand {
      margin: 0 auto;
    }

    #BottleFront {
      display: none;
    }
    #column-left {
      display: none;
    }

    #column-right {
      padding-left: 0;
    }

    h2 {
      font-size: 1.2rem;
    }

    h3 {
      padding-left: 0;
    }

    h4 {
      padding-left: 0;
    }
  }
</style> -->
