---
import Layout from '../layouts/Layout.astro';
import { Icon } from 'astro-icon/components';
import Heading3 from '../components/Heading3.astro';
import Paragraph from '../components/Paragraph.astro';
import Section from '../components/Section.astro';
import AddressLine from '../components/AddressLine.astro';
import Link from '../components/Link.astro';

const description =
  'Contact Glass Constructions for enquiries about our handcrafted glass items, including bottle clocks and coasters. Reach us via phone or email for more information.';
---

<Layout title="Contact Us" description={description}>
  <Heading3>Contact Us</Heading3>
  <Section>
    <Paragraph
      >You can contact Glass Constructions using the following methods:-</Paragraph
    >
    <Heading3>
      <Icon
        name="mdi:envelope-outline"
        class="float-left mt-1 mr-2"
        size="24"
      />
      Address:
    </Heading3>
    <AddressLine>Hillcroft</AddressLine>
    <AddressLine>Maidstone Road</AddressLine>
    <AddressLine>Danaway</AddressLine>
    <AddressLine>Sittingbourne</AddressLine>
    <AddressLine>Kent</AddressLine>
    <AddressLine>ME9 7PY</AddressLine>
  </Section>
  <Heading3
    ><Icon
      name="mdi:phone"
      class="float-left mt-1 mr-2"
      size="24"
    />Telephone:</Heading3
  >
  <Section>
    <Paragraph>
      <Link href="tel:07970178233">07970 178233</Link>
    </Paragraph>
  </Section>
  <Heading3>
    <Icon name="mdi:alternate-email" size="24" class="float-left mt-1 mr-2" />
    E-mail:
  </Heading3>
  <Section>
    <Paragraph>
      <Link href="mailto:enquiries@glassconstructions.co.uk">
        enquiries@glassconstructions.co.uk
      </Link>
    </Paragraph>
  </Section>
</Layout>
