---
import Layout from '../layouts/Layout.astro';
import { Font } from 'astro:assets';
import { Icon } from 'astro-icon/components';
---

<Font cssVariable="--font-headings" preload />
<Font cssVariable="--font-body" preload />
<Layout title="Contact Us">
  <h3>Contact Us</h3>
  <div>
    <p>You can contact Glass Constructions using the following methods:-</p>
    <h3>
      <Icon name="mdi:envelope-outline" size="20" />
      Address:
    </h3>
    <p>Hillcroft</p>
    <p>Maidstone Road</p>
    <p>Danaway</p>
    <p>Sittingbourne</p>
    <p>Kent</p>
    <p>ME9 7PY</p>
  </div>
  <h3>
    <Icon name="mdi:phone" size="20" />
    Telephone:</h3>
  <div>
    <p><a href="tel:07970178233" class="contact-link">07970 178233</a></p>
  </div>
  <h3>
    <Icon name="mdi:alternate-email" size="20" />
    E-mail:
  </h3>
  <div>
    <p>
      <a href="mailto:enquiries@glassconstructions.co.uk" class="contact-link">
      enquiries@glassconstructions.co.uk
      </a>
    </p>
  </div>

  <style>
    /* Adjust spacing for paragraphs */
    p {
      margin-bottom: 0;
    }
  </style>
</Layout>
