---
import Layout from '../layouts/Layout.astro';
import Heading3 from '../components/Heading3.astro';
import Section from '../components/Section.astro';
import Paragraph from '../components/Paragraph.astro';
import { Image } from 'astro:assets';
import dorothynigel from '../images/dorothynigel.jpg';
import { YouTube } from 'astro-embed';
import Link from '../components/Link.astro';

const description =
  'Welcome to Glass Constructions! Explore our unique collection of handcrafted glass items, including bottle clocks, coasters, and more. Contact us for inquiries or visit our homepage for more details.';
---

<Layout title="Home" description={description}>
  <!-- Banner -->
  <Image
    class="float-left m-1"
    src={dorothynigel}
    alt="Dorothy & Nigel Dernley"
    height="169"
    width="211"
  />
  <Heading3>Introduction</Heading3>
  <Section>
    <Paragraph>
      We have now semi-retired and are working exclusively from home.
    </Paragraph>
    <Paragraph>
      We would like to sincerely thank all our customers for their support and
      encouragement over the years.
    </Paragraph>
    <Paragraph>
      Our work, since 1991, was at first, glass painting and stained glass, then
      fused glass, producing a wide range of items using our own techniques for
      heating and cooling the glass. Items included dishes, bowls, coasters and
      jewellery.
    </Paragraph>
  </Section>
  <Heading3>Orders</Heading3>
  <Section>
    <Paragraph>
      Our stock levels are falling as we're not making more, except for the
      bottle clocks, but the stock of standard bottles is not being replaced.
      The demand seems to be for customers own bottles to be flattened to clocks
      or memory bottles to hang on the wall.
    </Paragraph>
  </Section>

  <Heading3>Payment</Heading3>
  <Section>
    <Paragraph>
      We use bank transfer, as that keeps the costs down, but please contact us
      first if ordering from outside the UK, as commission by the bank may be
      high on non-UK orders.
    </Paragraph>
  </Section>
</Layout>
