---
import Layout from '../layouts/Layout.astro';
import Heading3 from '../components/Heading3.astro';
import Section from '../components/Section.astro';
import Paragraph from '../components/Paragraph.astro';
import { Image } from 'astro:assets';
import dorothynigel from '../images/dorothynigel.jpg';
import { YouTube } from 'astro-embed';
import Link from '../components/Link.astro';

const description =
  'Welcome to Glass Constructions! Explore our unique collection of handcrafted glass items, including bottle clocks, coasters, and more. Contact us for inquiries or visit our homepage for more details.';
---

<Layout title="Home" description={description}>
  <!-- Banner -->
  <Image
    class="float-left m-1"
    src={dorothynigel}
    alt="Dorothy & Nigel Dernley"
    height="169"
    width="211"
  />
  <Heading3>Introduction</Heading3>
  <Section>
    <Paragraph
      >We have been working with glass since 1991, at first painting or
      producing stained glass items. In the last few years we have moved over to
      the exciting world of <i>warm glass</i>. This involves heating glass to
      the soft stage, around 820&deg;C, when layers of glass will fuse together.
      The flat sheet of glass that is produced can be used for coasters, cheese
      or cake boards, wall plaques or included in stained glass windows. In
      addition the flat glass can be reheated, at a lower temperature, and
      slumped into a mould to produce dishes, bowls, or other three- dimensional
      items. When cool these are tough and versatile items to grace any
      household, but they keep the essential beauty of glass and by the very
      nature of the production process are unique.
    </Paragraph>
    <Paragraph
      >Other products we make, using similar techniques, are flattened bottle
      clocks, for which we have a separate page, and dichroic coated glass
      pendants and ear-rings. This eye-catching jewellery makes wonderful
      presents for anyone.
    </Paragraph>
    <Paragraph
      >Dorothy has developed a range of coasters, with subjects such as flowers,
      hearts, faces, trees, fish, beach huts, random patterns, and others. All
      are individual and not repeated.
    </Paragraph>
    <Paragraph
      >We also make some with copper foils cutouts of hearts, butterflies,
      dragonflies, stars etc. The shapes are a deep burnt red colour as the
      copper changes colour with the heat.
    </Paragraph>
    <Paragraph
      >As each item is unique a general description only will have to suffice,
      much as wood turners can never duplicate the grain in their bowls.
    </Paragraph>
    <Paragraph
      >Our range of items is extensive, because the patterns, sizes and colours
      vary widely, so the best way to see them is to come and see us.
    </Paragraph>
  </Section>
  <Heading3>Where to find us</Heading3>
  <Section>
    <Paragraph
      >On many weekends we are at <Link
        href="http://www.greenwichmarket.net"
        target="_blank">Greenwich Arts &amp; Crafts market</Link
      >, <b>but we do not have regular dates</b>. <Link href="/contact-us">
        &mdash; call for details</Link
      >. This weekend event, held all year round, is popular with a wide range
      of people, from TV personalities to day visitors and foreign tourists.
      Entry is free and access is easy via the Docklands Light Railway, rail,
      road or river bus.
    </Paragraph>
    <Paragraph
      >At Greenwich we only have the bottle clocks, but other products can be
      seen at the craft collective we belong to, <Link
        href="https://www.starlingsgifts.co.uk/"
        target="_blank">Starlings Gifts</Link
      > in Bexhill. We can also send photos if required of other items.</Paragraph
    >
    <YouTube class="m-auto w-1/2" id="RgHMpcv33PY" />
  </Section>
  <Heading3>Orders</Heading3>
  <Section
    ><Paragraph
      >All the products are not in stock all the time, so if you want something
      in particular please contact us to order or confirm that we do have it
      available. We usually need at least 10 days notice to be able to deliver.
    </Paragraph>
    <Paragraph
      >If you are coming to see us specifically or for something special, please
      contact us to check our stock and if anything has changed.
    </Paragraph>
  </Section>

  <Heading3>Payment</Heading3>
  <Section>
    <Paragraph
      >We prefer Bank transfer, as that keeps the costs down, but please contact
      us first if ordering from outside the UK, as commission by the bank may be
      high on non-UK orders.
    </Paragraph>
    <Paragraph
      >Alternatively we accept credit and debit cards at Greenwich and over the
      phone, and can take PayPal payments via PayPal.me or an invoice, as well
      as cash, but cannot accept cards on our website.
    </Paragraph>
    <Paragraph>
      We can call you to take card details at an agreed time.
    </Paragraph>
  </Section>
</Layout>
