---
var currentYear = new Date().getFullYear();
---
<footer>
  <hr>
  <p>
    All contents &copy; { currentYear } Glass Constructions. All rights reserved.
  </p>
</footer>

<style>
  p {
    font-family: var(--font-body);
    font-weight: 400;
    font-size: 12px;
    color: #545454;
    text-align: left;
  }
</style>