---
const currentYear = new Date().getFullYear();
---

<div class="text-slate-700">
  <hr class="mt-16" />
  <p class="mt-2 text-xs">
    All contents &copy; {currentYear} Glass Constructions
  </p>
</div>
