---
var currentYear = new Date().getFullYear();
---

<footer>
  <hr class="border-footer" />
  <p class="text-footer font-body">
    All contents &copy; {currentYear} Glass Constructions. All rights reserved.
  </p>
</footer>
