---
import { Image } from 'astro:assets';
import title from '../images/title.gif';
---
<div>
  <Image src={title} alt="Dorothy &amp; Nigel Dernley" width="500" height="86" />
  <h2>Flattened bottles and fused glass by Dorothy and Nigel Dernley</h2>
</div>

<style>
  div {
    text-align: center;
  }

	h2 {
		font-family: var(--font-headings);
		font-weight: 1000;
		color: #000066;
    margin-top: 0;
	}
</style>