---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
---
<div class="hidden">{currentPath}</div>
	<!-- Banner -->
	<div class="flex bg-amber-500 border-b-1 border-amber-800">
		<div class="flex flex-col basis-3/5 grow m-4">
			<h2 class="text-5xl font-bold text-blue-950" >Glass Constructions</h2>
			<h2 class="font-bold text-xl text-blue-950">Flattened bottles and fused glass by Dorothy and Nigel Dernley</h2>
		</div>
		<div class="flex items-center basis-2/5 flex-row justify-end">
			<nav>
				<ul class="list-none">
					<li>
						<a href="/" class:list={[`${currentPath === '' ? 'border-blue-950 border-b-4' : ''}`, "hover:font-bold"]}>
							<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512" class="inline align-baseline fill-blue-950">
								<!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
								<path d="M575.8 255.5c0 18-15 32.1-32 32.1h-32l.7 160.2c0 2.7-.2 5.4-.5 8.1V472c0 22.1-17.9 40-40 40H456c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1H416 392c-22.1 0-40-17.9-40-40V448 384c0-17.7-14.3-32-32-32H256c-17.7 0-32 14.3-32 32v64 24c0 22.1-17.9 40-40 40H160 128.1c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2H104c-22.1 0-40-17.9-40-40V360c0-.9 0-1.9 .1-2.8V287.6H32c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z"/>
							</svg>
							Home
						</a>
					</li>
					<li>
						<a href="/bottleclocks" class:list={[`${currentPath === 'bottleclocks' ? 'border-blue-950 border-b-4' : ''}`, "hover:font-bold"]}>
							<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512" class="inline align-baseline fill-blue-950">
								<!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
								<path d="M393.4 9.4c12.5-12.5 32.8-12.5 45.3 0l64 64c12.5 12.5 12.5 32.8 0 45.3c-11.8 11.8-30.7 12.5-43.2 1.9l-9.5 9.5-48.8 48.8c-9.2 9.2-11.5 22.9-8.6 35.6c9.4 40.9-1.9 85.6-33.8 117.5L197.3 493.3c-25 25-65.5 25-90.5 0l-88-88c-25-25-25-65.5 0-90.5L180.2 153.3c31.9-31.9 76.6-43.1 117.5-33.8c12.6 2.9 26.4 .5 35.5-8.6l48.8-48.8 9.5-9.5c-10.6-12.6-10-31.4 1.9-43.2zM99.3 347.3l65.4 65.4c6.2 6.2 16.4 6.2 22.6 0l97.4-97.4c6.2-6.2 6.2-16.4 0-22.6l-65.4-65.4c-6.2-6.2-16.4-6.2-22.6 0L99.3 324.7c-6.2 6.2-6.2 16.4 0 22.6z"/>
							</svg>
							Bottle Clocks
						</a>
					</li>
					<li class="mr-16">
						<a href="/contactus" class:list={[`${currentPath === 'contactus' ? 'border-blue-950 border-b-4' : ''}`, "hover:font-bold"]}>
							<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512" class="inline align-baseline fill-blue-950">
								<!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
								<path d="M164.9 24.6c-7.7-18.6-28-28.5-47.4-23.2l-88 24C12.1 30.2 0 46 0 64C0 311.4 200.6 512 448 512c18 0 33.8-12.1 38.6-29.5l24-88c5.3-19.4-4.6-39.7-23.2-47.4l-96-40c-16.3-6.8-35.2-2.1-46.3 11.6L304.7 368C234.3 334.7 177.3 277.7 144 207.3L193.3 167c13.7-11.2 18.4-30 11.6-46.3l-40-96z"/>
							</svg>
							Contact Us
						</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>


<style>
	.icon {
		width: 1em;
		height: 1em;
		vertical-align: -.125em;
	}

	h2 {
			font-family: 'Architects Daughter';
	}

	nav ul li {
		display: inline-block;
		list-style-image: none;
		margin-left: 0;
		margin-right: 20px;
	}

	nav ul li a {
		color: #000066;
		padding: 10px 20px;
		text-decoration: none;
		display: block;
		margin-right: -25px;
	}

img#mainHead		{
	height: auto;
	margin: 0em;
	max-width: 100%;
}

div#mainHead 	{text-align: center;}
</style>
