---
import Nav from "./Nav.astro";
---

<!-- Banner -->
<div class="flex bg-amber-500 border-b-1 border-amber-800">
  <div class="flex flex-col flex-shrink-0 grow m-4">
    <h2 class="text-5xl font-bold text-blue-950">Glass Constructions</h2>
<h2 class="font-bold text-xl text-blue-950">
  Flattened bottles and fused glass by Dorothy and Nigel Dernley
</h2>
  </div>
  <Nav />
</div>

<style>
  .icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.125em;
  }

  h2 {
    font-family: "Architects Daughter";
  }

  img#mainHead {
    height: auto;
    margin: 0em;
    max-width: 100%;
  }

  div#mainHead {
    text-align: center;
  }
</style>
