---
import { Astronav, MenuItems } from 'astro-navbar';
import { Icon } from 'astro-icon/components';

const { pathname } = Astro.url;
---
<Astronav>
  <MenuItems class="flex; width: 100%; padding: 0; margin: 0; background-color: #ebb000; color: #000066; font-family: var(--font-body); font-size: 18px; text-transform: uppercase;">
    <ul style="display: flex;">
      <li>
        <a
          class={pathname.slice(1) === '' ? 'active' : ''}
          href="/"
          style="display: flex; align-items: center;"
        >
          <Icon name="mdi:home" />
          <div class="label">
            Home
          </div>
        </a>
      </li>
      <li>
        <a
          class={pathname.slice(1) === 'bottle-clocks' ? 'active' : ''}
          href="/bottle-clocks"
          style="display: flex; align-items: center;"
        >
          <Icon name="mdi:bottle-wine" />
          <div class="label">
            Bottle Clocks
          </div>
        </a>
      </li>
      <li>
        <a
          class={pathname.slice(1) === 'contact-us' ? 'active' : ''}
          href="/contact-us"
          style="display: flex; align-items: center;"
        >
          <Icon name="mdi:phone" />
          <div class="label">
            Contact Us
          </div>
        </a>
      </li>
    </ul>
  </MenuItems>
</Astronav>

<style>
  [data-icon] {
    height: 36px;
    width: 36px;
  }

  .hidden {
    display: none;
  }

  ul {
    margin-top: 16px;
    margin-bottom: 16px;
    width: auto;
  }

  .label {
    margin-left: 16px;
  }

  nav ul {
    background-color: #ebb000;
    list-style: none;
    padding-left: 8px;
    padding-right: 8px;
  }

  nav ul li {
    color: #000066;
    font-family: var(--font-body);
    display: inline-block;
    list-style-image: none;
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
    padding: 8px
    margin-left: -8px;
    margin-right: 8px;
  }

  nav ul li a {
    color: #000066;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    padding: 8px;
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
    margin-left: -8px;
    margin-right: 8px;
  }

  nav ul li a:hover {
    background-color: #000066;
    color: #ebb000;
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
    margin-left: -8px;
    margin-right: 8px;
    padding: 8px;
  }

  nav ul li a.active {
    background-color: #000066;
    color: #ebb000;
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
    margin-left: -8px;
    margin-right: 8px;
    padding: 8px;
  }

  @media (max-width: 600px) {
    nav ul li {
      width: 33%;
    }
  }
</style>
