---
import { Astronav, MenuItems } from 'astro-navbar';
import { Icon } from 'astro-icon/components';

const { pathname } = Astro.url;
console.log('pathname', pathname);
---

<nav class="bg-secondary sticky top-0 z-1">
  <ul class="font-body m-0 list-none overflow-hidden p-0">
    <li class={pathname.slice(1) === '' ? 'active' : ''} "float-left">
      <a
        href="/"
        class="hover:bg-highlight hover:text-primary block px-3 py-2 uppercase decoration-0 hover:font-bold"
        ><Icon
          name="mdi:home"
          class="text-primary float-left mx-2"
          size="24"
        />Home</a
      >
    </li><!--
    -->
    <li
      class={pathname.slice(1) === 'bottle-clocks' ? 'active' : ''}
      "float-left"
    >
      <a
        href="/bottle-clocks"
        class="hover:bg-highlight hover:text-primary block px-3 py-2 uppercase decoration-0 hover:font-bold"
        ><Icon
          name="mdi:bottle-wine"
          class="text-primary float-left mx-2"
          size="24"
        />Bottle Clocks</a
      >
    </li><!--
    -->
    <li class={pathname.slice(1) === 'contact-us' ? 'active' : ''} "float-left">
      <a
        href="/contact-us"
        class="hover:bg-highlight hover:text-primary block px-3 py-2 uppercase decoration-0 hover:font-bold"
        ><Icon
          name="mdi:phone"
          class="text-primary float-left mx-2"
          size="24"
        />Contact Us</a
      >
    </li>
  </ul>
</nav>

<style>
  [data-icon] {
    font-size: 1.2em;
    margin-bottom: -4px;
  }

  li {
    float: left;
  }

  ul li.active {
    background-color: #000066;
    padding-inline: 0;
    color: #ebb000;
  }

  ul li.active a {
    display: block;
    background-color: #000066;
    color: #ebb000;
  }

  @media (max-width: 600px) {
    a {
      padding: 8px 4px;
    }
  }
</style>
