---
import { Astronav, MenuItems } from 'astro-navbar';
import { Icon } from 'astro-icon/components';

const { pathname } = Astro.url;
console.log('pathname', pathname);
---

<nav>
  <ul>
    <li class={pathname.slice(1) === '' ? 'active' : ''} >
      <a href="/"><Icon name="mdi:home" />Home</a>
    </li><!--
    --><li class={pathname.slice(1) === 'bottle-clocks' ? 'active' : ''}>
      <a href="/bottle-clocks" ><Icon name="mdi:bottle-wine" />Bottle Clocks</a>
    </li><!--
    --><li class={pathname.slice(1) === 'contact-us' ? 'active' : ''}    >
      <a href="/contact-us"><Icon name="mdi:phone" />Contact Us</a>
    </li>
  </ul>
</nav>

<style>

  [data-icon] {
    font-size: 1.2em;
    margin-right: 4px;
    margin-bottom: -4px;
  }

  .hidden {
    display: none;
  }

  nav {
    background-color: #ebb000;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 1;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: var(--font-body);
  }

  li {
    float: left;
  }

  a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    padding: 8px 16px;
    color: #000066;
  }

  ul li:hover a {
    background-color: #000066;
    color: #FFD700; /* Bright gold for better visibility */
    font-weight: bold;
}
ul li a:hover {
    display: block;
    background-color: #FFD700; /* Bright gold for hover effect */
    color: #000066;
}
  ul li.active {
    background-color: #000066;
    padding-inline: 0;
    color: #ebb000;
  }

  ul li.active a{
    display: block;
    background-color: #000066;
    color: #ebb000;
  }

  @media (max-width: 600px) {
    a {
      padding: 8px 4px;
    }
  }
</style>
