---
import MenuItem from './MenuItem.astro';

const { pathname } = Astro.url;
console.log('pathname', pathname);
---

<nav class="bg-secondary sticky top-0 z-1">
  <div class="h-13 w-full">
    <div class="w-full h-full flex justify-start font-body">
      <MenuItem menuTitle="Home" menuIcon="mdi:home" href="/" />
      <MenuItem
        menuTitle="Bottle Clocks"
        menuIcon="mdi:bottle-wine"
        href="/bottle-clocks"
      />
      <MenuItem
        menuTitle="Contact Us"
        menuIcon="mdi:phone"
        href="/contact-us"
      />
    </div>
  </div>
</nav>
