---
const prices = [
  {size: "Up to 250ml", cost: "16.00", postage: "1.00"},
  {size: "251ml to 350ml", cost: "18.00", postage: "1.00"},
  {size: "351ml to 660ml", cost: "23.00", postage: "1.00"},
  {size: "661ml to 1000ml", cost: "26.00", postage: "1.00"},
  {size: "Over 1000ml", cost: "35.00", postage: "3.00"},
  {size: "Champagne (75cl)", cost: "27.00", postage: "3.00"}
  ];
---

<table class="table-auto border-collapse border border-amber-500" width="100%">
  <thead>
    <tr>
      <th class="bg-amber-100">Size</th>
      <th class="bg-amber-100">Cost (including 2nd Class postage)</th>
      <th class="bg-amber-100">1st Class postage upgrade</th>
    </tr>
  </thead>
  <tbody>
      {prices.map(p => (
      <tr>
        <td class="border-y border-amber-200 text-left pl-2">{p.size}</td>
        <td class="border-y border-amber-200 text-center">&pound;{p.cost}</td>
        <td class="border-y border-amber-200 text-center">+&pound;{p.postage}</td>
      </tr>
      ))}
    <tr>
      <td class="border-t border-amber-200 text-left pl-2">Memory bottles</td>
      <td class="border-t border-amber-200 text-center" colspan="4">Subtract &pound;2.00 from clock prices above</td>
    </tr>
  </tbody>
</table>
