---
import prices from '../data/prices.json';
---

<table class="layout-fixed m-auto max-w-3xl border-collapse">
  <colgroup>
    <col class="w-1/2" />
    <col class="w-1/2" />
  </colgroup>
  <thead>
    <tr>
      <th
        class="border-1 border-solid border-[#ddd] bg-[#007acc] px-3 py-2 font-bold text-white"
        >Size</th
      >
      <th
        class="border-1 border-solid border-[#ddd] bg-[#007acc] px-3 py-2 font-bold text-white"
        >Cost</th
      >
    </tr>
  </thead>
  <tbody>
    {
      prices.map((i) => (
        <tr class="even:bg-[#f9f9f9] hover:bg-[#f1f1f1]">
          <td class="border-1 border-solid border-[#ddd] px-3 py-2 text-left">
            {i.size}
          </td>
          <td class="border-1 border-solid border-[#ddd] px-3 py-2 text-center">
            &pound;{i.price}
          </td>
        </tr>
      ))
    }
  </tbody>
</table>
