---
import prices from '../data/prices.json';
---

<table class="m-auto max-w-3xl">
  <colgroup>
    <col class="w-1/2" />
    <col class="w-1/2" />
  </colgroup>
  <thead>
    <tr>
      <th
        class="border border-gray-300 bg-blue-500 px-3 py-2 font-bold text-white"
        >Size</th
      >
      <th
        class="border border-gray-300 bg-blue-500 px-3 py-2 font-bold text-white"
        >Cost</th
      >
    </tr>
  </thead>
  <tbody class="rounded-b-lg">
    {
      prices.map((i) => (
        <tr class="even:bg-gray-50 hover:bg-gray-200 last:rounded-b-lg">
          <td class="border border-gray-300 px-3 py-2">{i.size}</td>
          <td class="border rounded-br-lg border-gray-300 px-3 py-2 text-center">
            &pound;{i.price}
          </td>
        </tr>
      ))
    }
  </tbody>
</table>
